<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSC3170_Project</title>
    <style>
        .text{
            font-size: 20px;
        }
    </style>

</head>
<body>
<h1>Welcome</h1><br>
<p class="text" >
    This is A Demo for Patent Application and Audition System<br>
<br>

    Q1:Why Your Page looks so plain?<br>
    A1:Because <b>None</b> of us have experience in front-end development<br>
    Good Looking is not our <b>CORE</b> concern in this project.<br>
<br>
    Q2:Did you Do security Check for your system?<br>
    A2:Yes and No. All Pages Requires User Login To perform Correct Function.<br>
    We also guarantee No one can Do anything without correct parameters<br>
    However, if you know the parameter list required by the backend, it is easy to do every query as a registered User<br>
    Again, Security Check is Time Consuming and is not <b>CORE</b> concern.<br>

</p>

<a href="create_account.html">
    <button >Create an account</button>
</a><br>
<a href="login1.html">
    <button > Applicant login</button>
</a><br>
<a href="login2.html">
    <button > Official User login</button>
</a>
<br>
<a href="login3.html">
    <button > Third Party login</button>
</a>
</body>
</html>